*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.app {
  height: 100vh;
  font-family: "monserrat", sans-serif;
  background-image: url("./assets/img/pexels-johannes-plenio-1102915.jpg");
  background-size: cover;
  background-position: top center;
}
